.userHistory {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.order {
  margin: 30px;
}

.orderBox {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px rgba(201, 201, 201, 1);
}

.list {
  list-style: none;
}
