.userHistory {
  margin: auto;
  margin-top: 20px;
  width: 860px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
  height: 100%;
  background-color: #fff;
}

.title {
  border: none;
}

.order {
  margin: 20px;
}

.orderBox {
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px 1px rgba(201, 201, 201, 1);
}

.itemsInfo {
  border-bottom: 1px solid lightgray;
}

.listItemHeader {
  display: flex;
  margin: 10px;
  align-items: center;
  border-bottom: 3px solid #9f2234;
}

.restaurantImage {
  height: 60px;
  margin: 0px 20px 10px 0px;
}
