.statisticsPage {
  margin: auto; /* Centraliza a página horizontalmente */
  max-width: 860px; /* Define a largura máxima de 800px */
  width: 100%; /* Garante que a página ocupe 100% da largura até 800px */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 30px;
}

.buttonsBox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #9f2234;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #6e0001;
}

.title {
  margin-bottom: 20px;
}

.content {
}

.detailsTitle {
  margin-top: 20px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.statistics {
}

.detailsInfo {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #9f2234;
}
