.button {
  width: var(--width);
  padding: 10px;
  padding-left: var(--side_padding, 10px);
  padding-right: var(--side_padding, 10px);
  background-color: transparent;
  border: 0px solid black;
  font-size: var(--font_size, 16px);
  cursor: pointer;
}

.button_selected {
  border-bottom: var(--line_size, 2px) solid var(--color, black);
}