.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: var(--line_element_gap, 1px);
    width: 100%;
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1px;
}

.linha {
    width: 100%;
    height: var(--line_thickness, 3px);
    background-color: var(--line_color, black);
}