.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    gap: 3px;
    max-width: fit-content;
}

.div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1px;
}

.linha {
    transform: translateX(var(--line_trastransform_x, 0%));
    width: var(--line_size, 100%);
    height: var(--line-thickness, 3px);
    background-color: var(--line-color, black);
}