.body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container {
  background-color: var(--white);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border: none;
  margin-top: 20px;
  width: 860px;
}

.button {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-right: 10px;
}

.button:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

.form {
  margin-bottom: 20px;
}

.error {
  color: var(--danger);
  font-size: 12px;
  margin-top: 5px;
  display: block;
}
