@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --white: #ffffff;
    --light: #fff5f5;
    --dark: #440001;
    --primary: #9f2234;
    --secondary: #6e0001;
    --info: #4e0f48;
    --success: #549400;
    --warning: #ffb952;
    --danger: #ea0063;
    --font-primary: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto Light', sans-serif;
    background-color: var(--light);
    color: var(--dark);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow-y: auto;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: none;
    margin-top: 20px;
}

h1 {
    color: var(--primary);
    margin-bottom: 20px;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--primary);
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--white);
    margin-top: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
    color: var(--dark);
}

th {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500;
}

td {
    background-color: var(--light);
}

tr:nth-child(even) td {
    background-color: var(--white);
}

tr:hover td {
    background-color: #f1f1f1;
}

button {
    background-color: var(--primary);
    color: var(--white);
    border: none;
    padding: 10px 20px;  /* Ajustando o padding */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 10px;  /* Adicionando margem direita */
}

button:hover {
    background-color: var(--secondary);
    transform: scale(1.05);
}

button.delete {
    background-color: var(--danger);
}

button.delete:hover {
    background-color: #c82333;
}

.action-button {
    margin-right: 10px; /* Garantindo espaçamento horizontal entre botões */
    margin-bottom: 5px; /* Adicionando margem inferior */
}

form {
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: var(--dark);
}

form input, form select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    transition: border-color 0.3s;
}

form input:focus, form select:focus {
    border-color: var(--primary);
    outline: none;
}

.error {
    color: var(--danger);
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.strength {
    font-size: 12px;
    margin-top: 5px;
    display: block;
    color: var(--dark);
}

progress {
    width: 100%;
    height: 12px;
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background-color: var(--light);
}

progress::-webkit-progress-value {
    transition: width 0.2s;
}

progress[style*="background-color: red"]::-webkit-progress-value {
    background-color: var(--danger);
}

progress[style*="background-color: yellow"]::-webkit-progress-value {
    background-color: var(--warning);
}

progress[style*="background-color: green"]::-webkit-progress-value {
    background-color: var(--success);
}